*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    width: 100%;
    height: 100vh;
}
.section-top {
    background: linear-gradient(270deg, #000000e1 50%, #ffffffce 50%);
    display: flex;
    padding: min(20vh, 6rem);
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}
.section-top a {
    text-decoration: none;
    color: black;
}
.section-top a:hover {
    color: rgb(255, 0, 0);
    transition: all;
}
.div-img img {
    height: 30rem;
}
.div-top h1 {
    font-size: 1.2em;
    
    
}
.div-top p {
    font-size: 1em;
}

.section-carrossel {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: min(20vh, 6rem);
}
.div-carrossel-top {
    text-align: center;
}

.div-carrossel-top h2 {
    font-size: 2rem;
}
.div-carrossel-top p {
    font-size: 1rem;
}

.carrossel {
    display: flex;
}
.carrossel-div img {
    height: 15rem;
}

.section-3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    padding: min(20vh, 6rem);
}
.section-3 h2 {
    font-size: 2em;
}
.div-section-3 {
    margin-right: 10em;
}
.section-3 img {
    height: 35rem;
}

.sec-a {
    color: black;
}


.section-4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: min(20vh, 6rem);
}

.section-4  h2{
    font-size: 2em;
}

.div-section-4 {
    margin-left: 5em;
}
.section-4 img {
    height: 18rem;
}

.section-final {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: min(20vh, 6rem);
}

.section-final h2 {
    font-size: 3em;
}

.section-final p {
    text-align: left;
}
.section-final a button {
    background-color: black;
    color: white;
    height: 3em;
    width: 5em;
}

footer {
    display: flex;
    justify-content: space-around;
}

footer nav ul {
    display: flex;
    gap: 2em;
}
footer nav ul li a {
    text-decoration: none;
    color: black;
}

.div-i i {
    margin-left: 1rem;
    font-size: 1.5em;
    color: black;
}

@media (max-width:830px) {
    .carrossel-div img {
        height: 5rem;
    }

    .section-3 img {
        height: 12rem;
    }

    .section-4 img {
        height: 10rem;
    }
}